@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Teko', sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    text-align: center;
    margin: 0 4rem;
}
a {
    font-size: 40px;
    line-height: 80px;
    background-color: #ccc;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 12rem;
    height: 6rem;
    text-decoration: none;
    text-align: left;
    ;

    transition: all .5s;
    transform: rotate(-30deg) skew(25deg);
    box-shadow: rgba(0, 0, 0, 0.24) -15px 15px 8px;

    color: black;
    text-transform: uppercase;
    position: relative;
    backface-visibility: hidden;
}

li:hover a{
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    transform-style: preserve-3d;
    box-shadow: rgb(109, 63, 67) -50px 50px 50px;
    color: white;
    background: #871325;
    font-size: 65px;

}


a::before {
    content: "";
    position: absolute;
    background: #b1b1b1;
    width: 32px;
    height: 99px;
    left: -32px;
    top: 15px;
    transform: skewY(-45deg)

}

li:hover a::before {
    background: #650E15;
}

a::after {
    content: "";
    position: absolute;
    background: #919191;
    top: 96px;
    left: -18px;
    height: 32px;
    width: 193px;
    transform: skewX(-45deg)
}

li:hover a::after {
    background: #4B0A0E;
}


