.circle-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background-color: #d3d3d331;
  filter: blur(5px);
  transform: translateY(-250%);
  transition: transform 2s cubic-bezier(0.34, 1.56, 0.64, 1);
  overflow: hidden;
}

/*Hideblob-Class */
.circle-container.reveal {
  transform: translateY(0);
}

.circle {
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
  height: 250px;
  width: 250px;
  position: absolute;
}

#mc1 {
  height: 200px;
  width: 200px;
  border: 1px solid red;
  background-color: black;
  transform-origin: 70% 60%;
}

#mc2 {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid green;
  transform-origin: 62% 60%;
}

#mc3 {
  position: absolute;
  height: 200px;
  width: 200px;
  /* border: 1px solid blue; */
  transform-origin: 44% 38%;
}
