body {
    background-color: #e0e0e0;
    height: 100vh;
    position: relative;
}

.container {
    background-color: white;
    height: 500px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.blob {
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#b1 {
    background-color: transparent;
    border: 1px solid red;
}

#b2 {
    background-color: transparent;
    border: 1px solid green;
}