@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

/* https://coolors.co/1a231f-919193-d3d4d6-e95447-c82f30 */

body {
  background-color: #d3d3d362;
  margin: 0;
  padding: 0;
  font-family: "Fjalla One";
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  filter: contrast(25);
}

.text-container {
  position: relative;
  text-align: center;
  font-size: 55px;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s;
}

.text-container::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 60px;
  background-color: #ba181b;
  margin-left: 4px;
  animation: flash 0.6s linear infinite;
}

.text-container.hide {
  transform: translateY(-750%);
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    display: block;
  }
}
